.zillpad-farm {
  width: 100%;
  margin: 0 auto 0;
  color: #fff;
  gap: 24px;
  font-family: sans-serif;
  .pageTitle {
      font-size: 36px;
      font-weight: bold;
      color: orangered;
      font-family: sans-serif;
    }
  
  .pageSubTitle {
      font-size: 20px;
      font-weight: bold;
      color: orangered;
      font-family: sans-serif;
    }
  .title {
          font-size: 16px;
          font-family: sans-serif;
          font-weight: 400;
          color: #b5b0d1;
          margin-bottom: 20px;
          line-height: 1;
  }
    
  .value {
          font-size: 16px;
          font-family: sans-serif;
          font-weight: 400;
          line-height: 1;
          color: #ffffff;
          display: flex;
          align-items: center;
  }
    
  .expired {
          color: #6e6ea0;
  }
  &-container {
    overflow:inherit;
    background-color: #171c23;
    width:102%;
  }
  &-modal-unstake {
    font-size: 24px;
    display: flex;
    width: 100%;
    font-family: sans-serif;
    justify-content: space-between;
    .chakra-checkbox__control {
      width: 33px;
      height: 33px;
      svg {
        width: 22px;
        height: 22px;
      }
    }
    .chakra-checkbox__label {
      font-size: 24px;
      margin-left: 20px;
    }
  }
  
  &-header {
    width:100%;
    padding: 18px 30px;
    justify-content: space-between;
    gap: 28px;
    font-family: sans-serif;
    flex-wrap: wrap;
    &-styleType {
      gap: 28px;
      svg {
        cursor: pointer;
        fill: #d8d6f0;
        &.active {
          color: orangered;
          fill: orangered;
        }
      }
    }
    &-left,
    &-right {
      gap: 28px;
    }
    &-left {
      gap: 100px;
    }
    &-right {
      flex-flow: row-reverse;
    }
    &-tabs {
      width: 218px;
      height: 38px;
      font-size: 10px;
      background: #2e2e46;
      border: 1px solid #51517a;
      border-radius: 17px;
      font-family: sans-serif;
    }
    &-tabList {
      height: 100%;
      width:100%;
      font-family: sans-serif;
      
      button {
        font-size: 150%;
        font-family: sans-serif;  
        width: 100%;
        color: #e9e7f0;
        &[aria-selected="true"] {
          background-color: #524879;
          color: #fff;
          border-radius: 17px;
        }
      }
    }
    &-minetype {
      width: 146px;
      margin-left: auto;
      font-family: sans-serif;
      label {
        font-size: 18px;
        line-height: 1;
        margin-bottom: 14px;
        font-family: sans-serif;
      }
      select {
        height: 38px;
        border-radius: 38px;
        font-family: sans-serif;
      }
    }
    &-search {
      width: 222px;
      input {
        height: 38px;
        border-radius: 38px;
        font-family: sans-serif;
      }
    }
    select {
      border-color: #51517a;
      color: #b5b0d1;
      font-size: 22px;
      font-family: sans-serif;
    }
  }
  
  &-list {
    width:100%;
    height:100%;
    // padding: 24px;
    padding-bottom: auto;
    .zillpad-farm-item {
      border-color: #51517a;
      pointer-events: none;
      font-family: sans-serif;
      button,
      a {
        cursor: pointer;
        pointer-events: all;
      }
      &-expanded {
        pointer-events: all;
        cursor: pointer;
      }

      &.hide {
        display: none;
      }
      &:last-child {
        border-bottom: 0;
      }
      &-cardAction {
        display: none;
      }
      &-button {
        justify-content: space-between;
        width: 100%;
        padding: 34px 40px;
        font-family: sans-serif;
        &[aria-expanded="true"] {
          .zillpad-farm-item-details {
            display: block;
          }
          .zillpad-farm-item-hide {
            display: none;
          }
        }
      }
      &-details {
        display: block;
        font-size:20px;
      }
      &-hide {
        display: none;
      }
      &-earned,
      &-apr,
      &-liquidity,
      &-name {
        max-width: 100%;
        width: auto;
        word-wrap: break-word;
        font-family: sans-serif;
        
      }
      &-name {
        max-width: 100%;
        width: auto;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 120%;
        font-family: sans-serif;
        font-weight: bold;
        color: #ffffff;
        display: flex;
        align-items: center;
      }
      &-logo {
        width: 60px;
        object-fit: contain;
        margin-right: 34px;
        flex-shrink: 0;
      }
      &-share {
        width: auto;
        flex-shrink: 0;
        pointer-events: all;
        cursor: pointer;
        img {
          width: 36px;
          height: 36px;
        }
      }
      &-stakedBtn {
        font-size: 18px;
        height: 38px;
      }
      &-harvestBtn {
        // width: 140px;
        font-size: 18px;
        height: 38px;
        button {
          height: 100%;
          font-size: 18px;
        }
      }
      &-panel {
        justify-content: space-between;
        padding: 0 26px 42px 26px;
        gap: 20px;
        .zillpad-farm-item-links {
          gap: 22px;
          justify-content: center;
        }
        a {
          font-size: 15px;
          font-family: sans-serif;
          text-decoration: underline;
          color: #ffffff;
        }
        &-card {
          padding: 14px 16px 8px;
          width: 350px;
          height: 90px;
          background: #2e2e46;
          font-family: sans-serif;
          border: 1px solid #51517a;
          border-radius: 10px;
          .title {
            font-size: 14px;
            font-family: sans-serif;
            color: #fff;
            margin-bottom: 8px;
            .token {
              color: #fff;
            }
            p {
              color: #cac1ff;
              margin-left: 4px;
            }
          }
          .value {
            font-size: 16px;
            margin-bottom: 8px;
          }
          .bottom {
            width: 100%;
          }
        }
        &-liquidity {
          display: none;
          .title {
            margin-bottom: 0 !important;
          }
        }
        &-multiplier {
          display: none;
        }
      }
    }

    &.zillpad-farm-card {
      display: flex;
      flex-wrap: wrap;
      gap: 18px;
      justify-content: center;
      .zillpad-farm-item {
        width: 364px;
        background: #171c23;
        border: 1px solid #51517a;
        border-radius: 20px;
        div {
          display: flex;
          width: 100%;
        }
        .zillpad-farm-item-info,
        .zillpad-farm-item-apr,
        .zillpad-farm-item-earned,
        .zillpad-farm-item-cardAction {
          padding: 0 26px;
        }
        .zillpad-farm-item-container {
          flex-direction: column;
          padding: 48px 26px 0;
        }
        .zillpad-farm-item-apr,
        .zillpad-farm-item-earned {
          flex-direction: row;
          width: 100%;
          justify-content: space-between;
          align-items: center;
        }
        .zillpad-farm-item-panel {
          flex-direction: column;
          &-card {
            display: none;
          }
          &-liquidity {
            display: flex !important;
            align-items: center;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
          }
        }
        .zillpad-farm-item-button {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
          position: relative;
          padding: 0;
          padding: 34px 0 0;

          &[aria-expanded="true"] {
            .zillpad-farm-item-details {
              display: none;
            }
            .zillpad-farm-item-hide {
              display: block;
            }
          }
        }
        .zillpad-farm-item-info {
          justify-content: flex-start;
        }
        .zillpad-farm-item-logo {
          margin-right: 26px;
        }
        .zillpad-farm-item-share {
          position: absolute;
          top: 42px;
          right: 20px;
          width: 34px !important;
          height: 34px;
          padding: 0;
          img {
            width: 34px;
            height: 34px;
            flex-shrink: 0;
          }
        }
        .zillpad-farm-item-expanded {
          height: 76px;
          width: 100%;
          justify-content: center;
          font-size: 24px;
          border-top: 1px solid #51517a;
          cursor: pointer;
        }
        .zillpad-farm-item-liquidity {
          display: none !important;
        }
        .zillpad-farm-item-cardAction {
          font-size: 22px;
          flex-direction: column;
          .title {
            font-size: 16px;
            color: #fff;
          }
          .value {
            font-size: 18px;
            margin-bottom: 16px;
            margin-top: 14px;
            color: #6e6ea0;
          }
          .stake {
            margin-top: 10px;
          }
          .zillpad-farm-item-stakeGroup {
            margin-top: 16px;
            font-size: 14px;
            height: 38px;
          }
          .zillpad-farm-item-harvestBtn {
            width: 140px;
          }
          button {
            height: 38px;
            font-size: 14px;
          }
        }
        .title {
          margin-bottom: 0;
        }
      }
    }
  }
  
  &-item-stakeGroup {
    gap: 12px;
    div {
      width: 100%;
    }
  }
  
}

.zillpad-farm-modal {
  &-content {
    width: calc(100% - 40px) !important;
    border-radius: 50px !important;
    .zillpad-farm-modal-header {
      padding: 40px 40px 0 40px;
      font-size: 36px;
      font-family: DINPro;
      font-weight: bold;
      color: #080810;
    }
    .zillpad-farm-modal-no-tokens {
      font-size: 28px;
      font-family: Calibri;
      font-weight: 400;
      color: #6666b4;
      margin-top: 16px;
    }
    .zillpad-farm-modal-rates {
      font-size: 30px;
      font-family: Calibri;
      font-weight: 400;
      color: #07070f;
      margin-top: 42px;
    }
    .zillpad-farm-modal-allChecked {
      .chakra-checkbox__label {
        font-size: 26px;
      }
      .chakra-checkbox__control {
        width: 33px;
        height: 33px;
        svg {
          width: 22px;
          height: 22px;
        }
      }
    }
    .zillpad-farm-modal-body {
      padding: 20px 40px;
    }
    .zillpad-farm-modal-body-unstake {
      max-height: 400px;
      overflow: auto;
      color: #000;
    }
    .zillpad-farm-modal-footer {
      padding: 0 40px 40px;
      div {
        gap: 28px;
        width: 100%;
      }
      button {
        width: 50%;
        height: 92px;
        background: #6666b4;
        border-radius: 25px;
        font-size: 36px;
        font-family: Calibri;
        font-weight: bold;
        color: #ffffff;
      }
      a {
        font-size: 30px;
        font-family: Calibri;
        font-weight: bold;
        text-decoration: underline;
        color: #d8b587;
        display: flex;
        justify-content: center;
      }
    }
    .zillpad-farm-modal-close {
      top: 42px;
      right: 42px;
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
  &-stakeInput {
    width: 100%;
    background: #dadaef;
    border: 2px solid #6666b4;
    border-radius: 36px;
    gap: 40px;
    padding: 40px;
    font-size: 28px;
    font-family: Calibri;
    font-weight: 400;
    color: #161625;
    .zillpad-farm-modal-stakeInput-box {
      white-space: nowrap;
      gap: 18px;
      align-items: center;
      input {
        border: none;
        font-size: 40px;
        font-family: Calibri;
        font-weight: 400;
        color: #434381;
        &:focus,
        &:active,
        &:hover {
          outline: none;
          border: none;
        }
      }
      button {
        width: 108px;
        height: 50px;
        flex-shrink: 0;
        padding: 0;
        background: #524879;
        border-radius: 25px;
        color: #fff;
      }
    }
  }
}

@media (max-width: 950px) {
  .zillpad-farm {
    &-list {
      &.zillpad-farm-card {
        .zillpad-farm-item {
          width: calc(80% - 20px);
        }
      }
    }
  }
}

@media (max-width: 860px) {
  
  .zillpad-farm {
    margin: 0 auto 0;
    gap: 0.24rem;
    padding: 1.42rem 0.24rem 1rem;
    &-modal-unstake {
      font-size: 0.24rem;
      .chakra-checkbox__control {
        width: 0.33rem;
        height: 0.33rem;
        svg {
          width: 0.22rem;
          height: 0.22rem;
        }
      }
      .chakra-checkbox__label {
        font-size: 0.24rem;
        margin-left: 0.24rem;
      }
    }
    .pageTitle {
      font-size: 1.5rem;
    }
    .pageSubTitle {
      font-size: 1rem;
    }
    &-container {
      border-radius: 0.2rem;
      width:100%;
    }
    
    &-header {
      width: 100%;
      height: 100%;
      gap: 0.28rem;
      &-styleType { 
        gap: 0.28rem;
      }
      &-left,
      &-right {
        gap: 0.5rem;
      }
      &-left {
        
      }
      &-tabs {
        width: 9rem;
        height: 2rem;  
        border: 0.01rem solid #51517a;
        border-radius: 1rem;
      }
      &-tabList {
        width:5.5rem;
        button {
          width: 4.5rem;
          font-size: auto;
          border-radius: 1rem;
        }
      }
      &-minetype {
        width: 1.46rem !important;
        label {
          font-size: 0.2rem;
          margin-bottom: 0.14rem;
          color: #b5b0d1;
        }
        select {
          height: 0.5rem;
          border-radius: 0.38rem;
          padding: 0 0.24rem;
          font-size: 0.22rem;
          line-height: 0.5rem;
        }
      }
      &-search {
        width: 4rem !important;
        label {
          font-size: 0.2rem;
          line-height: 1;
          margin-bottom: 0.14rem;
          color: #b5b0d1;
        }
        input {
          height: 0.5rem;
          border-radius: 0.38rem;
          padding: 0.18rem 0.24rem;
        }
      }
    }
    
    &-list {
      min-height: 8.34rem;
      // padding: 24px;
      
      .zillpad-farm-item {
        width:105%;
        
        &:last-child {
          border-bottom: 0;
        }
        &-button {
          width: 100%;
          padding: 0.36rem 0rem;
          .zillpad-farm-item-details {
            display: block !important;
          }
          .zillpad-farm-item-hide {
            display: none !important;
          }
          &[aria-expanded="true"] {
            .zillpad-farm-item-details {
              display: block !important;
            }
            .zillpad-farm-item-hide {
              display: none !important;
            }
          }
        }
        &-earned{
          font-size:0.1rem;
        }
        &-earned,
        &-apr,
        &-liquidity,
        &-name {
          width: 5rem;
          font-size:0.1rem;
          
          
        }
        &-name {
          width: auto;
          font-size: 0.8rem;
          white-space: nowrap;
          
        }
        &-logo {
          width: 2.5rem;
          margin-right: 0.2rem;
        }
        &-share {
          align-items: center;
          img {
            width: 0.8rem;
            height: 0.8rem;
          }
        }
        
        &-panel {
          flex-direction: column;
          align-items: flex-start;
          
          .zillpad-farm-item-links {
            
            order: 4;
          }
          a {
            font-size: 0.8rem;
          }
          &-card {
            width: 100%;
            height: auto;
            border: 0.01rem solid #51517a;
            border-radius: 0.5rem;
            // margin-bottom: 0.2rem;
            .title {
              font-size: 0.8rem;
              p {
                margin-left: 0.04rem;
              }
            }
          }
        }
        
        
        &-hide,
        &-details {
          display: none;
        }
        &-details{
          font-size:1rem;
        }
        &-stakeGroup {
          button {
            height: 2.5rem;
            font-size: 0.8rem;
          }
        }
        &-stakedBtn {
          font-size: 0.8rem;
          height: 2.5rem;
        }
        &-harvestBtn {
          height: 0.5rem;
          font-size: 0.22rem;
          button {
            height: 0.5rem;
            padding: 0 20px;
            font-size: 0.22rem;
          }
        }
        .title {
          margin-bottom: 0.18rem;
        }
        
      }

      
    }
    
    .title {
      font-size: 0.95rem;
      margin-bottom: 0.2rem;
    }
    
    .value {
      font-size: 0.95rem;
    }
    
    &-item-stakeGroup {
      gap: 0.12rem;
    }
    
    &-item {
      &-panel {
        &-liquidity {
          order: 3;
          display: flex !important;
          flex-direction: row !important;
          justify-content: space-between;
          width: 100%;
          align-items: center;
        }
      }
    }
    
  }
  /**
  .zillpad-farm-modal {
    &-content {
      max-width: 100% !important;
      width: calc(100% - 0.4rem) !important;
      border-radius: 0.5rem !important;
      .zillpad-farm-modal-header {
        padding: 0.4rem 0.4rem 0 0.4rem;
        font-size: 0.36rem;
      }
      .zillpad-farm-modal-no-tokens {
        font-size: 0.28rem;
        margin-top: 0.16rem;
      }
      .zillpad-farm-modal-rates {
        font-size: 0.3rem;
        margin-top: 0.42rem;
      }
      .zillpad-farm-modal-body-unstake {
        max-height: 4rem;
        overflow: auto;
      }
      .zillpad-farm-modal-allChecked {
        .chakra-checkbox__label {
          font-size: 0.3rem;
          margin-left: 0.24rem;
        }
        .chakra-checkbox__control {
          width: 0.33rem;
          height: 0.33rem;
          svg {
            width: 0.22rem;
            height: 0.22rem;
          }
        }
      }
      .zillpad-farm-modal-body {
        padding: 0.32rem;
      }
      .zillpad-farm-modal-footer {
        padding: 0 0.4rem 0.4rem;
        .zillpad-farm-modal-footer-buttons {
          gap: 0.2rem;
          flex-direction: row;
          width: 100%;
          button {
            width: 50%;
          }
        }
        .zillpad-farm-modal-container {
          gap: 0.7rem;
        }
        button {
          width: 100%;
          height: 0.92rem;
          border-radius: 0.25rem;
          font-size: 0.36rem;
        }
        a {
          font-size: 0.3rem;
        }
      }
      .zillpad-farm-modal-close {
        top: 0.42rem;
        right: 0.42rem;
        svg {
          width: 0.24rem;
          height: 0.24rem;
        }
      }
    }
    &-stakeInput {
      width: 100%;
      border: 0.02rem solid #6666b4;
      border-radius: 0.36rem;
      gap: 0.5rem;
      padding: 0.2rem 0.16rem;
      font-size: 0.28rem;
      .zillpad-farm-modal-stakeInput-box {
        gap: 0.18rem;
        font-size: 0.28rem;
        input {
          font-size: 0.4rem;
        }
        button {
          width: 1rem;
          height: 0.5rem;
          border-radius: 0.25rem;
        }
      }
    }
  }
  **/
}


