@font-face {
  font-family: "Russo One";
  src: url("./assets/fonts/russoone.woff2") format("woff2");
}
@font-face {
  font-family: "Calibri";
  src: url("./assets/fonts/Calibri.ttf") format("truetype");
}
@font-face {
  font-family: "DINPro";
  src: url("./assets/fonts/DINPro.ttf") format("truetype");
}
body {
  margin: 0;
  font-family: "Russo One", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html,
body,
#root {
  min-height: 100%;
  font-size: 14px;
}
p {
  text-align: left;
}
div {
  button {
    &[data-testid="rk-connect-button"] {
      width: 100%;
      white-space: nowrap;
      text-align: center !important;
      justify-content: center !important;
    }
  }
}
// header
.zillpad-header {
  height: 72px;
  padding: 0 20px;
  max-width: 1208px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1234;
  .zillpad-connectWallet {
    height: 40px;
  }
  .zillpad-logo {
    width: 64px;
  }
  a {
    color: #fff;
    font-size: 22px;
  }
}
.zillpad-farm-tips {
  width: 100px;
  max-width: 100px !important;
  font-size: 20px !important;
  text-align: center;
  border-radius: 10px !important;
  padding: 10px !important;
}
.chakra-portal {
  .chakra {
    &-toast__inner {
      max-width: 500px;
      min-width: 300px;
    }
    &-alert {
      display: flex;
      align-items: center;
      padding: 10px;
      &__title {
        font-size: 24px !important;
        line-height: 1.2;
        word-break: break-word;
      }
      &__icon {
        width: 30px;
        height: 30px;
        & + div {
          height: 100%;
          margin-left: 10px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
.chakra {
  &-checkbox {
    &__label {
      width: 100%;
    }
  }
  &-button {
    &__spinner {
      .chakra-spinner {
        width: 20px !important;
        height: 20px !important;
        margin: 0 auto;
      }
    }
  }
}
@media (max-width: 860px) {
  html {
    font-size: 13.3333333333vw;
  }
  :root {
    --avatar-font-size: calc(0.3rem / 2.5) !important;
    --chakra-borders-1px: 0.01rem solid !important;
    --chakra-borders-2px: 0.02rem solid !important;
    --chakra-borders-4px: 0.04rem solid !important;
    --chakra-borders-8px: 0.8rem solid !important;

    --chakra-fontSizes-3xs: 0.06rem !important;
    --chakra-fontSizes-2xs: 0.08rem !important;
    --chakra-fontSizes-xs: 0.1rem !important;
    --chakra-fontSizes-sm: 0.12rem !important;
    --chakra-fontSizes-md: 0.14rem !important;
    --chakra-fontSizes-lg: 0.16rem !important;
    --chakra-fontSizes-xl: 0.18rem !important;
    --chakra-fontSizes-2xl: 0.2rem !important;
    --chakra-fontSizes-3xl: 0.22rem !important;
    --chakra-fontSizes-4xl: 0.24rem !important;

    --chakra-fontSizes-5xl: 0.26rem !important;
    --chakra-fontSizes-6xl: 0.28rem !important;
    --chakra-fontSizes-7xl: 0.3rem !important;
    --chakra-fontSizes-8xl: 0.32rem !important;
    --chakra-fontSizes-9xl: 0.34rem !important;

    --chakra-letterSpacings-tighter: -0.05em;
    --chakra-letterSpacings-tight: -0.025em;
    --chakra-letterSpacings-wide: 0.025em;
    --chakra-letterSpacings-wider: 0.05em;
    --chakra-letterSpacings-widest: 0.1em;

    --chakra-lineHeights-3: 0.075rem !important;
    --chakra-lineHeights-4: 0.1rem !important;
    --chakra-lineHeights-5: 0.125rem !important;
    --chakra-lineHeights-6: 0.15rem !important;
    --chakra-lineHeights-7: 0.175rem !important;
    --chakra-lineHeights-8: 0.2rem !important;
    --chakra-lineHeights-9: 0.225rem !important;
    --chakra-lineHeights-10: 0.25rem !important;

    --chakra-radii-sm: 0.02rem !important;
    --chakra-radii-base: 0.25rem;
    --chakra-radii-md: 0.375rem;
    --chakra-radii-lg: 0.5rem;
    --chakra-radii-xl: 0.75rem;
    --chakra-radii-2xl: 1rem;
    --chakra-radii-3xl: 1.5rem;
    --chakra-radii-full: 9999px;

    --chakra-space-1: 0.01rem !important;
    --chakra-space-2: 0.02rem !important;
    --chakra-space-3: 0.03rem !important;
    --chakra-space-4: 0.04rem !important;
    --chakra-space-5: 0.05rem !important;
    --chakra-space-6: 0.06rem !important;
    --chakra-space-7: 0.07rem !important;
    --chakra-space-8: 0.08rem !important;
    --chakra-space-9: 0.09rem !important;
    --chakra-space-10: 0.1rem !important;
    --chakra-space-12: 0.12rem !important;
    --chakra-space-14: 0.14rem !important;
    --chakra-space-16: 0.16rem !important;
    --chakra-space-20: 0.2rem !important;
    --chakra-space-24: 0.24rem !important;
    --chakra-space-28: 0.28rem !important;
    --chakra-space-32: 0.32rem !important;
    --chakra-space-36: 0.36rem !important;
    --chakra-space-40: 0.4rem !important;
    --chakra-space-44: 0.44rem !important;
    --chakra-space-48: 0.48rem !important;
    --chakra-space-52: 0.52rem !important;
    --chakra-space-56: 0.56rem !important;
    --chakra-space-60: 0.6rem !important;
    --chakra-space-64: 0.64rem !important;
    --chakra-space-72: 0.72rem !important;
    --chakra-space-80: 0.8rem !important;
    --chakra-space-96: 0.96rem !important;
    --chakra-space-px: 0.01rem !important;
    --chakra-space-0-5: 0.125rem;
    --chakra-space-1-5: 0.375rem;
    --chakra-space-2-5: 0.625rem;
    --chakra-space-3-5: 0.875rem;

    --chakra-shadows-xs: 0 0 0 0.01rem rgba(0, 0, 0, 0.05);
    --chakra-shadows-sm: 0 0.01rem 0.02rem 0 rgba(0, 0, 0, 0.05);
    --chakra-shadows-base: 0 0.01rem 0.03rem 0 rgba(0, 0, 0, 0.1),
      0 0.01rem 0.02rem 0 rgba(0, 0, 0, 0.06);
    --chakra-shadows-md: 0 0.04rem -0.06rem -0.01rem rgba(0, 0, 0, 0.1),
      0 0.02rem 0.04rem -0.01rem rgba(0, 0, 0, 0.06);
    --chakra-shadows-lg: 0 10px 15px -0.03rem rgba(0, 0, 0, 0.1),
      0 0.04rem -0.06rem -0.02rem rgba(0, 0, 0, 0.05);
    --chakra-shadows-xl: 0 20px 25px -0.05rem rgba(0, 0, 0, 0.1),
      0 10px 10px -0.05rem rgba(0, 0, 0, 0.04);
    --chakra-shadows-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    --chakra-shadows-outline: 0 0 0 0.03rem rgba(66, 153, 225, 0.6);
    --chakra-shadows-inner: inset 0 0.02rem 0.04rem 0 rgba(0, 0, 0, 0.06);

    --chakra-sizes-1: 0.1rem !important;
    --chakra-sizes-2: 0.2rem !important;
    --chakra-sizes-3: 0.3rem !important;
    --chakra-sizes-4: 0.4rem !important;
    --chakra-sizes-5: 0.5rem !important;
    --chakra-sizes-6: 0.6rem !important;
    --chakra-sizes-7: 0.7rem !important;
    --chakra-sizes-8: 0.8rem !important;
    --chakra-sizes-9: 0.9rem !important;
    --chakra-sizes-10: 0.1rem !important;
    --chakra-sizes-12: 0.12rem !important;
    --chakra-sizes-14: 0.14rem !important;
    --chakra-sizes-16: 0.16rem !important;
    --chakra-sizes-20: 0.2rem !important;
    --chakra-sizes-24: 0.24rem !important;
    --chakra-sizes-28: 0.28rem !important;
    --chakra-sizes-32: 0.32rem !important;
    --chakra-sizes-36: 0.36rem !important;
    --chakra-sizes-40: 0.4rem !important;
    --chakra-sizes-44: 0.44rem !important;
    --chakra-sizes-48: 0.48rem !important;
    --chakra-sizes-52: 0.52rem !important;
    --chakra-sizes-56: 0.56rem !important;
    --chakra-sizes-60: 0.6rem !important;
    --chakra-sizes-64: 0.64rem !important;
    --chakra-sizes-72: 0.72rem !important;
    --chakra-sizes-80: 0.8rem !important;
    --chakra-sizes-96: 0.96rem !important;

    --chakra-sizes-0-5: 0.125rem;
    --chakra-sizes-1-5: 0.375rem;
    --chakra-sizes-2-5: 0.625rem;
    --chakra-sizes-3-5: 0.875rem;

    --chakra-sizes-3xs: 0.06rem !important;
    --chakra-sizes-2xs: 0.08rem !important;
    --chakra-sizes-xs: 0.1rem !important;
    --chakra-sizes-sm: 0.12rem !important;
    --chakra-sizes-md: 0.14rem !important;
    --chakra-sizes-lg: 0.16rem !important;
    --chakra-sizes-xl: 0.18rem !important;
    --chakra-sizes-2xl: 0.2rem !important;
    --chakra-sizes-3xl: 0.22rem !important;
    --chakra-sizes-4xl: 0.24rem !important;

    --chakra-sizes-5xl: 0.26rem !important;
    --chakra-sizes-6xl: 0.28rem !important;
    --chakra-sizes-7xl: 0.3rem !important;
    --chakra-sizes-8xl: 0.32rem !important;
    --chakra-sizes-9xl: 0.34rem !important;

    --chakra-sizes-container-sm: 640px;
    --chakra-sizes-container-md: 768px;
    --chakra-sizes-container-lg: 1024px;
    --chakra-sizes-container-xl: 1280px;

    --chakra-blur-sm: 0.04rem;
    --chakra-blur-base: 0.8rem;
    --chakra-blur-md: 12px;
    --chakra-blur-lg: 16px;
    --chakra-blur-xl: 24px;
    --chakra-blur-2xl: 40px;
    --chakra-blur-3xl: 64px;

    --chakra-breakpoints-base: 0em;
    --chakra-breakpoints-sm: 30em;
    --chakra-breakpoints-md: 48em;
    --chakra-breakpoints-lg: 62em;
    --chakra-breakpoints-xl: 80em;
    --chakra-breakpoints-2xl: 96em;
  }

  .zillpad-header {
    height: 1rem;
    padding: 0 0.2rem;
    max-width: 100%;
    margin: 0 auto;
    color: #fff;
    width: 100%;
    .zillpad-connectWallet {
      // height: 0.4rem;
      outline: none !important;
    }
    .zillpad-logo {
      width: 1rem;
    }
    a {
      font-size: 0.24rem;
    }
  }
  .zillpad-farm-tips {
    width: 1rem;
    max-width: 1rem !important;
    font-size: 0.2rem !important;
    text-align: center;
    border-radius: 0.1rem !important;
    padding: 0.1rem !important;
  }

  .chakra {
    &-button {
      &__spinner {
        .chakra-spinner {
          width: 0.4rem !important;
          height: 0.4rem !important;
        }
      }
    }
  }
  .chakra-portal {
    .chakra {
      &-toast__inner {
        max-width: 5rem;
        min-width: 3rem;
      }
      &-alert {
        padding: 0.1rem;
        &__title {
          font-size: 0.24rem !important;
        }
        &__icon {
          width: 0.3rem;
          height: 0.3rem;
          & + div {
            margin-left: 0.1rem;
          }
        }
      }
    }
  }
}
